<!DOCTYPE html>
<html>
<head>
  <title>Gallifreyian</title>
  <%= stylesheet_link_tag    "gallifreyian/application" %>
  <%= javascript_include_tag "gallifreyian/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
