<div id='translations'>
  <div id="header">
    <%= render 'form', translation: @translation %>
    <ul>
      <% @translations.each do |translation| %>
        <li>
          <ul>
            <li><%= I18n.t(translation.key) %></li>
            <li>
              <% languages.each do |language| %>
                <%= render 'form', translation: sibling_or_new(translation, language) %>
              <% end %>
            </li>
          </ul>
        </li>
      <% end %>
    </ul>

    <%= paginate @translations %>
  </div>
</div>
